# Node
node_modules/
dist/

# Python
kothaFind-backend/venv/
kothaFind-backend/__pycache__/
kothaFind-backend/**/__pycache__/

# Secrets
kothaFind-backend/.env
kothaFind-backend/serviceAccountKey.json

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env
*.env